/* @font-face{
  font-family: pop_regular;
  src:url(..Fonts/poppins/poppins)
} */
/*----------------------BASIC CSS------------------------->*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body{
  display: flex; 
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0;

}

.background{
  background-image: url("/img/campus_img_vector.png");
  background-size: cover;
  height: 72vh;
  display: flex;
  justify-content: center ;
  margin-top: 60px;

}


/* Optional: Customize scrollbar appearance for webkit-based browsers */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/*----------------------BASIC CSS------------------------->*/

.the_page {
  
  /* margin: 0; */
  height: 100vh;
  width: 100%;
  
  /* margin: 0 auto; To center the content */
}

.upperheading {
    /* position: absolute; */
    width: 100%;
    /* height: 28vh; */
    flex-shrink: 0;
}

 /* -----------------------branding---------------------------- */
.university_branding{
    display: flex;
    width: 100%;
    height: 135px;
    justify-content: center;
    align-items: center;

    border: 1px solid #1F2937;
}


.logo_container{
    width: 112.64px;
    height: 112.64px;
    margin-right: 0px;
    flex-shrink: 0;
}

.logo_container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 10px 4px;
}

.clg_name p{
    color: #374151;
    text-align: center;
    margin-left: 24px;
    font-family: Montserrat;
    font-size: 49px;
    padding: 20px 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* -----------------------branding------------------------------------ */

/* ---------------------------portal name-------------------- */
.portal_name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 7px 0px 8px;
  border: 1px solid var(--gray-thoda-dark, #E0E0E0);
  background: var(--gray, #F5F5F5);
}

.portal_name p{
  color: #045B86;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.portal_name p span{
  color: #b11317;
}


/* ---------------------------portal name-------------------- */


 /* ---------------------------bg img--------------------------- */

.bg_img{
  display: flex;
  width: 100%;
  /* height: 1138px; */
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  flex-shrink: 0;
}

.bg_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  fill: linear-gradient(104deg, rgba(0, 0, 0, 0.09) 2.65%, rgba(0, 0, 0, 0.17) 95.95%),  lightgray 50% / cover no-repeat;
}


 /* ---------------------------bg img-------------------- */

 /* ---------------------------quote-------------------- */

.motivation_quote{
  
  
  flex-shrink: 0;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.motivation_quote ul{
  justify-content: center;
  list-style: none;
  color: #374151;
  font-family: Archia;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%; 
  padding-bottom: 125px;
  padding-right: 40px;
}

  /* ---------------------------quote-------------------- */


 /* ---------------------------detail_container-------------------- */

.detail_container{
  /* height:60%;
  width: 70%; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 70px;
  /* padding-bottom: 100px; */
  /* align-items: left; */
}

.form{
  height:60%;
  width: 70%;
  background-color: rgb(255, 255, 255);
  border: solid 1px #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  gap: 20px;
 
}


/* input{
 
  width: 100%;
  outline: none;
  font-size: 2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 14px;
  border: 1.5px solid #000;
  background: transparent; 
  transition: 0.3s ease;
  z-index: 1111;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  /* line-height: normal; */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .labelline{ */
  
  /* font-size: 1.6rem; */
  /* color: #000; */
  /* padding: 0 25px; */
  /* margin: 0 20px; */
/*  
  background-color: #FFF;
  transition: 0.3s ease;

  color: #1E1E1E;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:focus,
input:valid{
  color: #000;
  border: 1.5px solid #000;
}

input:focus + .labelline,
input:valid + .labelline{
  color: #000;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-13px, -32px) scale(0.75);
  z-index: 1111;
} */

input{
  padding: 14px 80px 12px 20px;
  font-family: Poppins;
  font-size: 30px;
  border: solid 1px #1e1e1e;
  border-radius: 11px;
  /* stroke-width: 10px; */
}
input::placeholder{
  color: #1e1e1e;
  opacity: 100;
}

.login_btn{
 

  background: #B11317;
  display: flex;
  /* width: 200px; */
  /* height: 50px; */
  /* border-radius: 20px; */
  margin-top: 8px;
  padding: 9px 51px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.login_btn p{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.forgot_p{
  
 
  color: #374151;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  /* margin-top: 16px; */
}


 /* ---------------------------detail_Form-------------------- */


 /* ---------------------------nav_bar-------------------- */

 .nav_bar{
  position: relative;
  display: flex;
  height: 100px;
  /* width: 1920px; */
  /* padding: 30px 219.098px 50px 220px; */
  /* z-index: 2; */
  justify-content: center;
  align-items: center;
  background: #045B86;
  gap: 34px;
 }

 .nav_bar .pages{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
 }

 .nav_bar .pages p{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 }

 .nav_bar .dropdown img{
  position: absolute;
  width: 14.238px;
  height: 6.538px;
  margin: 16px 0 0 10px;
  flex-shrink: 0;
 }

 /* .dropbtn img{
  position: absolute;
  padding: 0px 0 0 12px;
 } */

 
  /* .nav_bar {
    font-family: poppins;
  } */

  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #045B86;
    color: white;
    padding: 16px 32px 16px 16px;
    font-size: 16px;
    font-family: poppins;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 172px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: poppins;
    font-size: 18px;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn img {
    /* background-color: #f5f5f5; */
    rotate: 180deg;
  }

 /* ---------------------------nav_bar-------------------- */


  /* ---------------------------personal details-------------------- */
  .d_heading1{
    display: flex;
    margin-left: 60px;
    margin-top: 48px;
  }
  
  /* #2 {
    color: #045B86;
  } */

  .d_heading1 p{
  color: #B11317;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

 
  .sub_details{
    display: flex;
    position: relative;
    gap: 16vh;
    margin: 16px 0 0 60px  ;
  }

  .sub_details p{
    font-family: poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 0px 4px 0px;
  }

  .underline{
    position: absolute;
    width: 850px;
    border-bottom: solid 1px #dedede;
  }

  .contact_container{
    display: flex;
    flex-direction: row;
    gap: 190px;
  }
   /* ---------------------------personal details-------------------- */



   .inp_container{
    margin: 30px 0px 0px 60px;
   }

   #phn{
    display: flex;
    flex-direction: row;
    gap: 16px;
   }
   
   /* #std{ */
    /* padding-right: 20px ; */
   /* } */
   #normal{
    font-size: 25px;
   }

   #normal p{
    font-size: 25px;
   }
   .inp_container input{
    font-size: 25px;
    padding: 12px 80px 10px 20px;
    margin: 0px 0px 10px 0px;
   }


   #bold_kro p{
    font-weight: 600;
   }

   .table{
    margin: 48px 0px 0px 60px;
    font-family: poppins;
    font-size: 25px;
    border-collapse: collapse;
   }

   .thead-dark{
    background-color: #045B86;
    color: #FFF;
    font-weight: 600;
   }

   td{
    padding: 8px 120px 8px 60px;
    text-align: center;

   }

   td span{
    color: #045B86;
   }

   tbody{
    background-color: #f5f5f5;
   }

   a{
    color: #B11317;
    text-decoration: underline;
   }
   


   .colb{
    display: flex;
    flex-direction: column;
    margin: 0 0px 12px 0px;
   }

   .rowb{
    display: flex;
    flex-direction: row;
    /* margin: 0 8px 0px 0px; */
   }
   
   .rowb .field_container{
    margin: 0 16px 0 0;
   }

#st_detail_box{
  display: block;
}

  .imp_note{
    font-family: poppins;
    font-size: 25px;
    font-weight: 400;
    margin: 48px 0 0 60px;
  }

  .imp_note .heading{
    font-size: 30px;
    font-weight: 700;
    color: #045B86;
  }

  .imp_note ol{
    margin-top: 16px;
  }

  #exam_code{
    margin-top: 16px ;
  }
  
  #submit_btn p{
    font-size: 25px;
    font-family: poppins;
    /* font-weight: 400; */
  }

  #complaint{
    margin-top: 16px;
  }

  #complaint input{
    padding-right: 50%;
    padding-bottom: 20vh;
  }




  /* <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <img src="img/dropdown arrow.svg" alt="drop arrow" class="drop arrow">
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> */